.backdropContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto; 
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-top: 20px; 
  z-index: 1;
}

.leitnerSimulator{
  font-family: Arial, sans-serif;
  width: 60%;
  max-height: 90vh; 
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
  overflow-y: auto; 
}

.leitnerSimulator h1 {
  display: flex;
  font-size: 25px;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 20px;
  color: rgb(74, 74, 74);
}

.leitnerSimulator p {
  width: 70%;
  color: rgb(138, 138, 138);
  margin: 0 auto;
  border-bottom: 1px solid #acabab;
  margin-bottom: 30px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-size: 16px;
}

.intervalMultipliers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 16px;
}

.intervalMultipliers label {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-right: 10px;
  color: rgb(74, 74, 74);
}

.intervalMultipliers input {
  margin-left: 10px;
  padding: 3px;
  border: 1.5px solid rgb(209, 209, 209);
  border-radius: 4px;
  width: 60px;
}

.actionButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.actionButtons button {
  margin: 5px;
  padding: 10px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
}

.actionButtons button:hover {
  background-color: rgb(23, 135, 255);
  color: #fff;
}

.actionButtons button:disabled {
  background-color: #ebebeb;
  color: #666;
  cursor: not-allowed;
}

.actionButtons button:not(:disabled):hover {
  background-color: rgb(23, 135, 255);
  color: #fff;
}


.stepsContainer{
  display: block;
  justify-content: center;
  background-color: whitesmoke;
  padding: 30px;
  width: 90%;
  margin: auto;
}

.step {
    display: flex;
    flex-shrink: 0;
    align-items: center;
  }
  
  .reviewSteps{
    display: flex;
    align-items: center; 
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;
  }



.leitnerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px; 
    height: 30px;
    border: 1px solid rgb(209, 209, 209);
    color: rgb(74, 74, 74);
    margin: 0 5px;
    padding: 0 10px; 
    box-sizing: border-box; 
    font-size: 14px; 
  }

.leitnerArrow {
  font-size: 20px;
  position: relative;
  color: rgb(74, 74, 74);
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputContainer {
  position: relative;
  display: inline-block;
}

.inputSymbol {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

input[type="number"] {
  padding-right: 20px;
}

.intervalLabel {
    display: inline-flex; 
    align-items: center;
    font-size: 14px; 
    margin: 0 5px; 
    color: rgb(74, 74, 74);
  }

.emptyBox {
    min-width: 60px; 
    border: 1px dashed rgb(209, 209, 209); 
  }

  .maxIntervalInputContainer input {
    width: 100px; 
    padding-right: 48px; 
  }
  
  .maxIntervalInputContainer::after {
    content: 'days';
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #777; 
  }
  

  .leitnerBox {
    position: relative;
  }
  
  .halfMoonIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em; 
  }
  
  
@media (max-width: 768px) {
    .leitnerSimulator {
        width: 90%;
        max-height: 90vh; 
    }
  
    .leitnerSimulator p {
      width: 90%;
      font-size: 14px;
    }
  
    .intervalMultipliers {
      flex-direction: column;
      align-items: center;
    }
  
    .stepsContainer {
      padding: 20px;
    }
  
    .actionButtons {
      flex-direction: column;
    }
  
    .actionButtons button {
      margin-bottom: 10px;
    }

    .leitnerBox {
    min-width: 50px; 
    font-size: 12px; 
  }

  .intervalLabel {
    font-size: 12px; 
  }
  }

